* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    background: skyblue;
}
body {
    height: 100%;
    position: relative;
}
.app {
    height: 100%;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.bar {
    height: 50px;
    padding: 10px;
    line-height: 30px;
    position: relative;
    z-index: 999;
}
.main {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
}
.upload-mask {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
}
.bar {
    color: white;
    background: darkslategrey;
}
.photo-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid black;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    z-index: 3;
}
#preview {
    display: block;
    z-index: 1;
}
#previewResult {
    background: #fff;
    max-width: 260px;
    border: 1px solid black;
}
.preview-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}
body {
    overflow: hidden;
}
#getFile {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    vertical-align: middle;
    padding: 6px 5px;
    line-height: 1;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top, #faa51a, #f47a20);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
#rotateBtn {
    text-align: center;
    position: absolute;
    bottom: 15px;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    color: white;
    z-index: 5;
}
button {
    width: 140px;
    line-height: 38px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    border-radius: 5px;
    margin: 10px 20px;
    position: relative;
    overflow: visible;
}
.button.blue {
    position: relative;
    margin-right: 0;
    border: 1px solid #1e7db9;
    box-shadow: 0 1px 2px #8fcaee inset, 0 -1px 0 #497897 inset, 0 -2px 3px #8fcaee inset;
    background: -webkit-linear-gradient(top, #42a4e0, #2e88c0);
    background: -moz-linear-gradient(top, #42a4e0, #2e88c0);
    background: linear-gradient(top, #42a4e0, #2e88c0);
}
.blue.rarrow:after {
    box-shadow: 0 1px 0 #8FCAEE inset, -1px 0 0 #497897 inset, -2px 0 0 #8FCAEE inset;
    background: -webkit-linear-gradient(top left, #42A4E0, #2E88C0);
    background: -moz-linear-gradient(top left, #42A4E0, #2E88C0);
    background: linear-gradient(top left, #42A4E0, #2E88C0);
}
.blue.rarrow:before {
    background: #1E7DB9;
}
.rarrow:after {
    top: 6px;
    right: -12px;
    clip: rect(auto auto 26px 2px);
}
.rarrow:before {
    width: 27px;
    height: 27px;
    top: 6px;
    right: -13px;
    clip: rect(auto auto 26px 2px);
}
.rarrow:after, .rarrow:before, .larrow:after, .larrow:before {
    position: absolute;
    content: "";
    display: block;
    width: 28px;
    height: 28px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
input[type=file] {
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}