 @charset "gb2312";

/* 大于960px，小于1199px */ 
 @media screen and (min-width: 960px) and (max-width: 1199px) {
header, article, footer { width: 100%; margin: auto; overflow: hidden }
article { padding: 20px 0 0 0 }
nav { width: 100% }
nav ul li { padding: 0px 10px; }
.banner { margin: 0 }
.search { display: none }
.litle { margin: 20px 0 0 0; padding-left: 20px; }
.leftbox { width: 68%; }
.navlist li { margin-left: 20px }
.mbpic { padding: 5px; margin: 0 10px 5px }
.mbimg { height: 150px; }
}
 
 /* 大于768px，小于959px */ 
 @media screen and (min-width: 768px) and (max-width: 959px) {
header, article, footer { width: 100%; margin: auto; overflow: hidden }
article { padding: 20px 0 0 0 }
nav { width: 100% }
nav ul li { padding: 0px 10px; }
.banner { margin: 0 }
.search { display: none }
.litle { margin: 20px 0 0 0; padding-left: 20px; }
.leftbox { width: 68%; }
.navlist li { margin-left: 20px }
.mbpic { padding: 5px; margin: 0 10px 5px }
.mbimg { height: 150px; }
}
 
 
/* 大于480px，小于767px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
header, article, footer { width: 100%; margin: auto; overflow: hidden }
nav, .search { display: none; }
article { padding: 20px 0 0 0 }
#mnav { display: block; z-index: 99999; background: url(../images/logo.png) no-repeat left 10px top 13px #333; }
.banner { margin: 40px 0 10px 0 }
.newblogs { width: 100%; }
h3.blogtitle { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.bloginfo p, .paihang ul li p { text-align: justify; }
.blogpic img { height: 100%; width: auto }
.rbox, .ab_box, .leftbox, .rightbox { width: 100% }
.litle { display: none }
.rightbox { margin-right: 0 }
.navtab { margin-top: 30px; margin-bottom: 0 }
.navlist li { margin: 0 5px 5px }
.effect { width: 43% }
.mbpic { padding: 5px; margin: 0 5px 5px }
.mbimg { height: 150px; }
.pagelist { margin: 0 0 15px 0 }
.link_box { margin-top: 30px }
.blogsitetj li { width: 100%; display: block }
}
/* 小于479px */
@media only screen and (max-width: 479px) {
header, article, footer { width: 100%; margin: auto; overflow: hidden }
nav, .blog, .search { display: none; }
article { padding: 20px 0 0 0 }
#mnav { display: block; z-index: 99999; background: url(../images/logo.png) no-repeat left 10px top 13px #333; }
.banner { margin: 40px 0 10px 0 }
.newblogs { width: 100%; }
h3.blogtitle { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.bloginfo p, .paihang ul li p { text-align: justify; }
.blogpic img { height: 100%; width: auto }
.rbox, .ab_box, .leftbox, .rightbox { width: 100% }
.litle { display: none }
.rightbox { margin-right: 0 }
.navtab { margin-top: 30px; margin-bottom: 0 }
.navlist li { margin: 0 5px 5px }
.effect { width: 43% }
.mbpic { padding: 5px; margin: 0 5px 5px }
.mbimg { height: 150px; }
.pagelist { margin: 0 0 15px 0 }
.link_box { margin-top: 30px }
.blogsitetj li { width: 100%; display: block }
}
