<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,548},{39,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{39,19}}</string>
                <key>sourceSize</key>
                <string>{41,19}</string>
            </dict>
            <key>Score.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,417},{51,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{51,19}}</string>
                <key>sourceSize</key>
                <string>{53,19}</string>
            </dict>
            <key>anniu_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,320},{47,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{47,40}}</string>
                <key>sourceSize</key>
                <string>{49,42}</string>
            </dict>
            <key>anniu_meixuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,237},{81,43}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{81,43}}</string>
                <key>sourceSize</key>
                <string>{85,47}</string>
            </dict>
            <key>anniu_qiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,478},{66,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,24}}</string>
                <key>sourceSize</key>
                <string>{68,26}</string>
            </dict>
            <key>anniu_qiang1_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,452},{66,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,24}}</string>
                <key>sourceSize</key>
                <string>{68,26}</string>
            </dict>
            <key>anniu_qiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,197},{64,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,29}}</string>
                <key>sourceSize</key>
                <string>{66,31}</string>
            </dict>
            <key>anniu_qiang2_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,131},{64,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,29}}</string>
                <key>sourceSize</key>
                <string>{66,31}</string>
            </dict>
            <key>anniu_qiang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,504},{61,23}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{61,23}}</string>
                <key>sourceSize</key>
                <string>{63,25}</string>
            </dict>
            <key>anniu_qiang3_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,427},{61,23}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{61,23}}</string>
                <key>sourceSize</key>
                <string>{63,25}</string>
            </dict>
            <key>anniu_qiang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,459},{70,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{70,27}}</string>
                <key>sourceSize</key>
                <string>{72,29}</string>
            </dict>
            <key>anniu_qiang4_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,387},{70,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{70,27}}</string>
                <key>sourceSize</key>
                <string>{72,29}</string>
            </dict>
            <key>anniu_qiang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,325},{60,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,29}}</string>
                <key>sourceSize</key>
                <string>{62,31}</string>
            </dict>
            <key>anniu_qiang5_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,263},{60,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,29}}</string>
                <key>sourceSize</key>
                <string>{62,31}</string>
            </dict>
            <key>anniu_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,489},{85,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,47}}</string>
                <key>sourceSize</key>
                <string>{85,47}</string>
            </dict>
            <key>bofang.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,552},{70,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,67}}</string>
                <key>sourceSize</key>
                <string>{70,67}</string>
            </dict>
            <key>erjipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{48,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,205}}</string>
                <key>sourceSize</key>
                <string>{48,205}</string>
            </dict>
            <key>fengmian_Score.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,600},{33,16}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,16}}</string>
                <key>sourceSize</key>
                <string>{37,18}</string>
            </dict>
            <key>gameLogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{100,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,31}}</string>
                <key>sourceSize</key>
                <string>{100,31}</string>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,89},{155,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{155,29}}</string>
                <key>sourceSize</key>
                <string>{165,33}</string>
            </dict>
            <key>help.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,452},{136,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,58}}</string>
                <key>sourceSize</key>
                <string>{136,58}</string>
            </dict>
            <key>hp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,467},{99,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{99,35}}</string>
                <key>sourceSize</key>
                <string>{101,35}</string>
            </dict>
            <key>hp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,430},{79,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,11}}</string>
                <key>sourceSize</key>
                <string>{79,11}</string>
            </dict>
            <key>jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,552},{9,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{9,10}}</string>
                <key>sourceSize</key>
                <string>{11,10}</string>
            </dict>
            <key>kill.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,579},{24,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,19}}</string>
                <key>sourceSize</key>
                <string>{26,19}</string>
            </dict>
            <key>ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,504},{84,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{84,46}}</string>
                <key>sourceSize</key>
                <string>{86,46}</string>
            </dict>
            <key>pingtai.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,2},{170,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,85}}</string>
                <key>sourceSize</key>
                <string>{170,85}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,392},{136,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,58}}</string>
                <key>sourceSize</key>
                <string>{136,58}</string>
            </dict>
            <key>queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,512},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>quxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,529},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>shengyin_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,512},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>shengyin_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,369},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>shuzi_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,151},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>shuzi_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,349},{11,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{11,17}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>shuzi_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,312},{13,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{13,17}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>shuzi_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,130},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>shuzi_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,110},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>shuzi_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,109},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>shuzi_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,89},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>shuzi_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,88},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>shuzi_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,67},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>shuzi_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,46},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>shuzi_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,419},{9,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,13}}</string>
                <key>sourceSize</key>
                <string>{9,13}</string>
            </dict>
            <key>shuzi_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,408},{9,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,13}}</string>
                <key>sourceSize</key>
                <string>{9,13}</string>
            </dict>
            <key>shuzi_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,397},{9,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,13}}</string>
                <key>sourceSize</key>
                <string>{9,13}</string>
            </dict>
            <key>shuzi_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,386},{9,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,13}}</string>
                <key>sourceSize</key>
                <string>{9,13}</string>
            </dict>
            <key>shuzi_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,375},{9,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,13}}</string>
                <key>sourceSize</key>
                <string>{9,13}</string>
            </dict>
            <key>shuzi_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,364},{9,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,13}}</string>
                <key>sourceSize</key>
                <string>{9,13}</string>
            </dict>
            <key>shuzi_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,353},{9,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,13}}</string>
                <key>sourceSize</key>
                <string>{9,13}</string>
            </dict>
            <key>shuzi_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,342},{9,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,13}}</string>
                <key>sourceSize</key>
                <string>{9,13}</string>
            </dict>
            <key>shuzi_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,331},{9,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,13}}</string>
                <key>sourceSize</key>
                <string>{9,13}</string>
            </dict>
            <key>shuzi_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,120},{9,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,13}}</string>
                <key>sourceSize</key>
                <string>{9,13}</string>
            </dict>
            <key>shuzi_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,292},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>shuzi_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,329},{11,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{11,18}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>shuzi_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,272},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>shuzi_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,252},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>shuzi_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,232},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>shuzi_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,212},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>shuzi_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,24},{13,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,20}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>shuzi_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,192},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>shuzi_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,172},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>shuzi_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,2},{13,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,20}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>welcomeLogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{276,90}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{276,90}}</string>
                <key>sourceSize</key>
                <string>{286,90}</string>
            </dict>
            <key>xinxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{77,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{77,92}}</string>
                <key>sourceSize</key>
                <string>{79,98}</string>
            </dict>
            <key>xinxikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{321,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,233}}</string>
                <key>sourceSize</key>
                <string>{321,233}</string>
            </dict>
            <key>yinxiao_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,256},{139,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,134}}</string>
                <key>sourceSize</key>
                <string>{141,134}</string>
            </dict>
            <key>yinxiao_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,120},{139,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,134}}</string>
                <key>sourceSize</key>
                <string>{141,134}</string>
            </dict>
            <key>youximing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{262,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{262,86}}</string>
                <key>sourceSize</key>
                <string>{278,88}</string>
            </dict>
            <key>zanting.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,579},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>zidan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,504},{23,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{23,20}</string>
            </dict>
            <key>zidan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,511},{74,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,11}}</string>
                <key>sourceSize</key>
                <string>{74,11}</string>
            </dict>
            <key>zidan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,529},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>zidan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,489},{31,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,4}}</string>
                <key>sourceSize</key>
                <string>{31,4}</string>
            </dict>
            <key>zidan5.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,438},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameUi.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abee1b83f7286b939c720bb2ecd12380:1/1$</string>
            <key>textureFileName</key>
            <string>gameUi.png</string>
        </dict>
    </dict>
</plist>
