<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DaHeng-armL.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,429},{15,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,29}}</string>
                <key>sourceSize</key>
                <string>{15,29}</string>
            </dict>
            <key>DaHeng-armR.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,361},{27,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{27,18}}</string>
                <key>sourceSize</key>
                <string>{27,20}</string>
            </dict>
            <key>DaHeng-armUpperL.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>DaHeng-armUpperR.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{17,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,46}}</string>
                <key>sourceSize</key>
                <string>{17,46}</string>
            </dict>
            <key>DaHeng-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{69,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,86}}</string>
                <key>sourceSize</key>
                <string>{69,86}</string>
            </dict>
            <key>DaHeng-footL.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,111},{19,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,8}}</string>
                <key>sourceSize</key>
                <string>{19,8}</string>
            </dict>
            <key>DaHeng-footR.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,309},{19,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,10}}</string>
                <key>sourceSize</key>
                <string>{19,10}</string>
            </dict>
            <key>DaHeng-handR.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,128},{52,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,68}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>DaHeng-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,88},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>DaHeng-head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,407},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>DaHeng-legL.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,429},{11,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,24}}</string>
                <key>sourceSize</key>
                <string>{11,24}</string>
            </dict>
            <key>DaHeng-legR.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{15,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,25}}</string>
                <key>sourceSize</key>
                <string>{15,25}</string>
            </dict>
            <key>DaHeng-legUpperL.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>DaHeng-legUpperR.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,121},{25,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,38}}</string>
                <key>sourceSize</key>
                <string>{25,38}</string>
            </dict>
            <key>Jiangshi1-armL.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{18,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,63}}</string>
                <key>sourceSize</key>
                <string>{18,63}</string>
            </dict>
            <key>Jiangshi1-armL1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,293},{14,53}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{14,53}}</string>
                <key>sourceSize</key>
                <string>{16,55}</string>
            </dict>
            <key>Jiangshi1-armR.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,205},{27,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{27,59}}</string>
                <key>sourceSize</key>
                <string>{27,61}</string>
            </dict>
            <key>Jiangshi1-armR1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{26,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,58}}</string>
                <key>sourceSize</key>
                <string>{26,58}</string>
            </dict>
            <key>Jiangshi1-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{39,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{39,51}}</string>
                <key>sourceSize</key>
                <string>{41,51}</string>
            </dict>
            <key>Jiangshi1-body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,290},{17,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,41}}</string>
                <key>sourceSize</key>
                <string>{19,41}</string>
            </dict>
            <key>Jiangshi1-body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,290},{22,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,42}}</string>
                <key>sourceSize</key>
                <string>{22,44}</string>
            </dict>
            <key>Jiangshi1-body3.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,337},{23,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,41}}</string>
                <key>sourceSize</key>
                <string>{23,41}</string>
            </dict>
            <key>Jiangshi1-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,237},{49,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{49,58}}</string>
                <key>sourceSize</key>
                <string>{53,60}</string>
            </dict>
            <key>Jiangshi1-head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{42,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,30}}</string>
                <key>sourceSize</key>
                <string>{42,30}</string>
            </dict>
            <key>Jiangshi1-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{49,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,37}}</string>
                <key>sourceSize</key>
                <string>{51,37}</string>
            </dict>
            <key>Jiangshi1-head3.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,288},{20,56}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,56}}</string>
                <key>sourceSize</key>
                <string>{22,58}</string>
            </dict>
            <key>Jiangshi1-head4.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,74},{12,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{12,37}}</string>
                <key>sourceSize</key>
                <string>{14,39}</string>
            </dict>
            <key>Jiangshi1-head5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{19,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,63}}</string>
                <key>sourceSize</key>
                <string>{21,63}</string>
            </dict>
            <key>Jiangshi1-head6.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,314},{21,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,42}}</string>
                <key>sourceSize</key>
                <string>{23,42}</string>
            </dict>
            <key>Jiangshi2-armL.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,465},{13,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,12}}</string>
                <key>sourceSize</key>
                <string>{13,12}</string>
            </dict>
            <key>Jiangshi2-armR.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,330},{10,18}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>Jiangshi2-armUpperL.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,127},{10,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,19}}</string>
                <key>sourceSize</key>
                <string>{10,19}</string>
            </dict>
            <key>Jiangshi2-armUpperR.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,438},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
            <key>Jiangshi2-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,362},{24,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{24,38}}</string>
                <key>sourceSize</key>
                <string>{26,38}</string>
            </dict>
            <key>Jiangshi2-body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,310},{17,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,10}}</string>
                <key>sourceSize</key>
                <string>{17,10}</string>
            </dict>
            <key>Jiangshi2-body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,148},{7,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,4}}</string>
                <key>sourceSize</key>
                <string>{7,4}</string>
            </dict>
            <key>Jiangshi2-body3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,46}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{125,46}}</string>
                <key>sourceSize</key>
                <string>{127,52}</string>
            </dict>
            <key>Jiangshi2-footR.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,86},{9,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,11}}</string>
                <key>sourceSize</key>
                <string>{9,11}</string>
            </dict>
            <key>Jiangshi2-handL.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,479},{17,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,11}}</string>
                <key>sourceSize</key>
                <string>{17,11}</string>
            </dict>
            <key>Jiangshi2-handR.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,99},{9,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,10}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>Jiangshi2-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,111},{47,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>Jiangshi2-head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,365},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>Jiangshi2-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,260},{31,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,56}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Jiangshi2-head3.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,309},{27,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,49}}</string>
                <key>sourceSize</key>
                <string>{29,49}</string>
            </dict>
            <key>Jiangshi2-head4.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,338},{44,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,25}}</string>
                <key>sourceSize</key>
                <string>{44,25}</string>
            </dict>
            <key>Jiangshi2-legL.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,433},{11,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,22}}</string>
                <key>sourceSize</key>
                <string>{11,22}</string>
            </dict>
            <key>Jiangshi2-legR.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,132},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>Jiangshi2-legUpperL.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,431},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>Jiangshi2-legUpperR.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,446},{13,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,25}}</string>
                <key>sourceSize</key>
                <string>{13,25}</string>
            </dict>
            <key>Jiangshi2-shadow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,479},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Jiangshi2-shadow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,73},{9,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,11}}</string>
                <key>sourceSize</key>
                <string>{9,11}</string>
            </dict>
            <key>Jiangshi3-armL.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,333},{17,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,26}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>Jiangshi3-armL1.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,365},{16,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,25}}</string>
                <key>sourceSize</key>
                <string>{16,27}</string>
            </dict>
            <key>Jiangshi3-armL2.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,387},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>Jiangshi3-armR.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,392},{16,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,23}}</string>
                <key>sourceSize</key>
                <string>{18,25}</string>
            </dict>
            <key>Jiangshi3-armR1.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,416},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,23}</string>
            </dict>
            <key>Jiangshi3-armR2.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,433},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>Jiangshi3-armUpperL.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{27,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{27,21}}</string>
                <key>sourceSize</key>
                <string>{27,23}</string>
            </dict>
            <key>Jiangshi3-armUpperL1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,350},{20,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,35}}</string>
                <key>sourceSize</key>
                <string>{20,35}</string>
            </dict>
            <key>Jiangshi3-armUpperR.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,390},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>Jiangshi3-armUpperR1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,396},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>Jiangshi3-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,340},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>Jiangshi3-body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,446},{13,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,17}}</string>
                <key>sourceSize</key>
                <string>{13,17}</string>
            </dict>
            <key>Jiangshi3-body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,498},{11,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,14}}</string>
                <key>sourceSize</key>
                <string>{11,14}</string>
            </dict>
            <key>Jiangshi3-body3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,413},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>Jiangshi3-body4.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,433},{19,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,14}}</string>
                <key>sourceSize</key>
                <string>{19,14}</string>
            </dict>
            <key>Jiangshi3-body6.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,310},{28,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{28,44}}</string>
                <key>sourceSize</key>
                <string>{28,48}</string>
            </dict>
            <key>Jiangshi3-footL.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,417},{24,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,12}}</string>
                <key>sourceSize</key>
                <string>{24,12}</string>
            </dict>
            <key>Jiangshi3-footR.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,288},{33,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,15}}</string>
                <key>sourceSize</key>
                <string>{33,15}</string>
            </dict>
            <key>Jiangshi3-handL.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,387},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>Jiangshi3-handL1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,416},{20,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{20,15}}</string>
                <key>sourceSize</key>
                <string>{22,17}</string>
            </dict>
            <key>Jiangshi3-handR.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,449},{18,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>Jiangshi3-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,162},{49,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{49,59}</string>
            </dict>
            <key>Jiangshi3-legL.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,447},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>Jiangshi3-legR.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,416},{24,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,30}}</string>
                <key>sourceSize</key>
                <string>{24,30}</string>
            </dict>
            <key>Jiangshi3-legUpperL.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,359},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>Jiangshi3-legUpperL1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,416},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>Jiangshi3-legUpperR.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,381},{24,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{24,38}}</string>
                <key>sourceSize</key>
                <string>{28,38}</string>
            </dict>
            <key>Jiangshi3-legUpperR1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,329},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>QuanWang-armL.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{41,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,56}}</string>
                <key>sourceSize</key>
                <string>{41,56}</string>
            </dict>
            <key>QuanWang-armR.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,73},{53,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{53,75}}</string>
                <key>sourceSize</key>
                <string>{57,75}</string>
            </dict>
            <key>QuanWang-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{75,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,78}</string>
            </dict>
            <key>QuanWang-body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,182},{62,53}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{62,53}}</string>
                <key>sourceSize</key>
                <string>{66,55}</string>
            </dict>
            <key>QuanWang-footL.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,415},{31,12}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{31,12}}</string>
                <key>sourceSize</key>
                <string>{39,14}</string>
            </dict>
            <key>QuanWang-footR.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,53},{37,19}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{37,19}}</string>
                <key>sourceSize</key>
                <string>{39,19}</string>
            </dict>
            <key>QuanWang-handL.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,148},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>QuanWang-handR.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,234},{54,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>QuanWang-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{54,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,64}}</string>
                <key>sourceSize</key>
                <string>{54,64}</string>
            </dict>
            <key>QuanWang-legL.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,383},{33,31}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{39,31}</string>
            </dict>
            <key>QuanWang-legLUpperL.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,50},{47,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>QuanWang-legR.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,388},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{39,34}</string>
            </dict>
            <key>QuanWang-legUpperR.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,213},{45,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{45,59}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameDonghuaHushi.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1122dbcc89b864f7928f0c6e83a96cb2:1/1$</string>
            <key>textureFileName</key>
            <string>gameDonghuaHushi.png</string>
        </dict>
    </dict>
</plist>
