@charset "gb2312";
/* photowall */
.photowall { width: 94%; margin:30px auto; overflow: hidden;  }
.photowall img { display: block; opacity: 0.9; -webkit-transition: opacity 0.35s; transition: opacity 0.35s; width: auto; height:100%; margin:auto;  }
.wall_a { margin: auto; background: #fafcfa; overflow: hidden }
.wall_a li { float: left; position: relative; width:25%; height:200px; overflow:hidden }
.wall_a li p a { color: #686868 }
.text_a { line-height: 24px; padding: 30px 20px }
.text_b {  line-height: 24px; padding: 40px 20px }
.wall_a li figcaption { position: absolute; left: 0; top: 10px; }
.wall_a li h2 { font-size: 12px; line-height: 24px; padding: 20px; font-weight: normal; opacity: 0; -webkit-transition: opacity 0.5s, -webkit-transform 0.5s; transition: opacity 0.5s, transform 0.5s; -webkit-transform: scale(0); transform: scale(0); color: #666 }
.wall_a li:hover h2 { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
.wall_a li:hover img { opacity: 0.4; }
/* cbp_tmtimeline */
.cbp_tmtimeline { margin: 30px 0 0 0; padding: 0; list-style: none; position: relative; }
.cbp_tmtimeline:before { content: ''; position: absolute; top: 0; bottom: 0; width: 5px; background: #afdcf8; left: 158px; margin-left: -10px; }
.cbp_tmtimeline > li { position: relative; }
.cbp_tmtimeline > li .cbp_tmtime { display: block; width: 100px; padding-right: 30px; position: absolute; margin-left: 20px }
.cbp_tmtimeline > li .cbp_tmtime span { display: block; text-align: right; }
.cbp_tmtimeline > li .cbp_tmtime span:first-child { font-size: 14px; color: #bdd0db; }
.cbp_tmtimeline > li .cbp_tmtime span:last-child { font-size: 22px; color: #3594cb; }

.cbp_tmtimeline > li .cbp_tmlabel { margin: 0 50px 15px 180px; background: #3594cb; color: #fff; padding: 2em; position: relative; border-radius: 5px; height: 150px; }

.cbp_tmtimeline > li .cbp_tmlabel h2 { margin-top: 0px; padding: 0 0 10px 0; font-size: 16px; text-shadow: rgba(7, 84, 152, 0.71) 1px 1px 1px; }
.cbp_tmtimeline > li .cbp_tmlabel:after { right: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-right-color: #3594cb; border-width: 10px; top: 10px; }

.cbp_tmtimeline > li .cbp_tmicon { width: 10px; height: 10px; font-family: 'ecoico'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; font-size: 1.4em; line-height: 40px; -webkit-font-smoothing: antialiased; position: absolute; color: #fff; background: #46a4da; border-radius: 50%; box-shadow: 0 0 0 3px #afdcf8; text-align: center; left: 170px; top: 15px; margin: 0 0 0 -25px; }
.blogpic { width: 200px; height: 120px; overflow: hidden; display: block; float: left; margin-right: 20px; }
.blogpic img { width: 100%; height: auto; margin: auto; }
a.readmore { background: #075498; color: #fff; padding: 5px 10px; float: right; margin: 20px 0 0 0; border-radius: 5px; }
.cbp_tmtimeline li .cbp_tmtime { -webkit-transition: all 1s; -moz-transition: all 1s; -o-transition: all 1s; }
.cbp_tmtimeline li:hover .cbp_tmicon { box-shadow: 0 0 0 3px #ececec; }
.cbp_tmtimeline li:hover .cbp_tmtime { background: #afdcf8; border-radius: 20px 0 0 20px; }
.cbp_tmtimeline li:hover .cbp_tmtime span { color: #075498; }
