@charset "gb2312";
/* css */
* { margin: 0; padding: 0 }
body { font: 15px "Microsoft YaHei", Arial, Helvetica, sans-serif; color: #555; background: #efefef; line-height: 1.5; }
img { border: 0; display: block }
ul, li { list-style: none; }
a { text-decoration: none; color: #444 }
a:hover { text-decoration: none; color: #000; }
.clear { clear: both; }
.blank { height: 20px; overflow: hidden; width: 100%; margin: auto; clear: both }
.f_l { float: left }
.f_r { float: right }
article { width: 1000px; margin: 80px auto 0; overflow: hidden; z-index: 999 }
.container { width: 1000px; margin: auto }
/*header*/
.header-navigation { position: fixed; top: 0; width: 100%; height: 60px; line-height: 60px; background: #fff; text-align: center; border-bottom: 1px solid #ddd; box-shadow: 0 1px 1px rgba(0,0,0,.04); z-index: 9999; }
.logo { float: left; font-size: 22px }
nav { width: 1000px; margin: auto; position: relative }
#mnavh { display: none; width: 30px; height: 40px; text-align: center; padding: 0 5px }
#starlist { float: left; margin-left: 50px }
#starlist li { float: left; width: 100px; text-align: center; display: block; font-size: 16px; margin-right: 5px }
.navicon { display: block; position: relative; width: 30px; height: 5px; background-color: #333; margin-top: 20px }
.navicon:before, .navicon:after { content: ''; display: block; width: 30px; height: 5px; position: absolute; background: #333; -webkit-transition-property: margin, -webkit-transform; transition-property: margin, -webkit-transform; transition-property: margin, transform; transition-property: margin, transform, -webkit-transform; -webkit-transition-duration: 300ms; transition-duration: 300ms; }
.navicon:before { margin-top: -10px; }
.navicon:after { margin-top: 10px; }
.open .navicon { background: none }
.open .navicon:before { margin-top: 0; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.open .navicon:after { margin-top: 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
.open .navicon:before, .open .navicon:after { content: ''; display: block; width: 30px; height: 5px; position: absolute; background: #333; }
.sub { display: none; background: #FFF; position: relative; overflow: hidden; padding: 0 0 10px 0; box-shadow: 0 4px 4px rgba(0,0,0,.04); border-top: #ddd 1px solid; }
.menu { position: relative; }
#starlist li:hover ul { display: block }
#starlist li:hover.menu:before { display: none }
#starlist .sub li { padding: 0 0 0 0; width: 100%; border-bottom: #ddd 1px solid; line-height: 40px; }
.menu:after { content: ""; position: absolute; right: 0px; top: 30px; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #989898; -ms-transition: all .5s ease; -moz-transition: all .5s ease; -webkit-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }/*Èý½ÇÐÎ*/
#starlist li:hover.menu:after { transform: rotate(180deg); width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #fff; }/*Ðý×ª*/
#starlist li a:hover, #starlist #selected, .selected > a { background: #3690cf; display: block; color: #fff; }
/*search*/
.searchbox { position: absolute; right: 0; }
.search_bar { position: relative; width: 0%; min-width: 60px; height: 60px; float: right; overflow: hidden; -webkit-transition: width 0.3s; -moz-transition: width 0.3s; transition: width 0.3s; -webkit-backface-visibility: hidden; }
.search_bar .input { position: absolute; top: 16px; right: 0; border: none; outline: none; height: 30px; line-height: 30px; z-index: 10; font-size: 16px; color: #333; background: none }
.search_ico, .search_btn { width: 60px; height: 60px; display: block; position: absolute; right: 0; top: 0; padding: 0; margin: 0; line-height: 60px; cursor: pointer; }
.search_ico { z-index: 90; }
.search_open { width: 200px; display: inline-block }
.search_open.search_bar .input { border-bottom: #222 1px solid; background: #fff; width: 200px; }
.search_ico span { position: relative; top: 20px; }
.search_ico span:before { content: ' '; position: absolute; width: 12px; height: 12px; border: 1px solid #666; border-radius: 10px; }
.search_ico span::after { content: ' '; position: absolute; width: 12px; height: 4px; background: #666; border-radius: 5px 0 0 5px; -webkit-transform: rotate(225deg); -moz-transform: rotate(225deg); -ms-transform: rotate(225deg); -o-transform: rotate(225deg); transform: rotate(225deg); }
.search_ico span:before { top: 0; left: 0; }
.search_ico span:after { right: -22px; top: 14px; }
/* artcile*/
main { overflow: hidden; clear: both; width: 68%; float: left; z-index: 1; display: block; position: relative; padding-bottom:100% }
/* Slide transitions */
.slideUp { -webkit-transform: translateY(-100px); -ms-transform: translateY(-100px); -o-transform: translateY(-100px); transform: translateY(-100px); -webkit-transition: transform .5s ease-out; -o-transition: transform .5s ease-out; transition: transform .5s ease-out; }
.slideDown { -webkit-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); -webkit-transition: transform .5s ease-out; -o-transition: transform .5s ease-out; transition: transform .5s ease-out; }
/*footer*/
footer { width: 100%; color: #a5a4a4; text-align: center; padding: 20px 0; clear: both; text-shadow: #fff 1px 0 2px, #fff 0 1px 2px, #fff -1px 0 2px, #fff 0 -1px 2px; }
footer a { color: #a5a4a4; }
/*cd-top*/
.cd-top { display: inline-block; height: 40px; width: 40px; position: fixed; bottom: 40px; right: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); overflow: hidden; text-indent: 100%; white-space: nowrap; background: rgba(0, 0, 0, 0.8) url(../images/top.png) no-repeat center; visibility: hidden; opacity: 0; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; z-index: 9999999 }
.cd-top.cd-is-visible { visibility: visible; opacity: 1; }
.links { margin: 0 15px; text-decoration: underline }
